@model IEnumerable<FavDeals.Models.Deal>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h3>@item.DProduct</h3>
                <p>
                    <h4><strike>&#x20b9; @item.DOrgPrice</strike></h4>
                    <h3>&#x20b9; @item.DOffPrice</h3> <h5>Only On</h5> <h3>@item.DSource</h3>
                </p>
                <p><a class="btn btn-default" onclick="window.open ('@item.DLink', ''); return false;" href="javascript:void(0);" >View Deal &raquo;</a></p>
        </div>
        @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
        @*<div class="col-md-4">
            <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
    </div>
}


